*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    
}
body {




}
.container {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
}
.uni__btns {
    padding:12px 24px;
    font-size: 13px;
    line-height: 22.5px;
    background-color:#DE2E54;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    display: inline-block;
    border: 2px solid #DE2E54;
}

/* header nav */
.header {

    background-color: #fff;
    

}
.navigation {  
    padding: 20px 0;
}
.nav__container {
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.nav__logo-img a:hover {
    color: #DE2E54;
}

.nav__logo-img {
    display: inline-block;
    width: 185px;
}
.nav__list {
    display: flex;
}
.nav__list a:hover {
    color: #DE2E54;
}
.nav__item a:active{
    opacity: 60%;
}
.nav__item a{ 
    color: #222222;
    text-decoration: none;
}
.nav__item {
    font-size: 14px; 
    margin-right: 32px;  
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 2px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.uni__btns:hover {
    background-color:#fff;
    color:#DE2E54;
}
.uni__btns:active {
    background-color:#DE2E54;
    color: #fff;
    opacity: 60%;

}



/* /header nav*/
/* main hero */

.hero {
    margin-top: 44px;
    padding: 120px 0;
    background-color: #0EB4C1;
}
.hero__container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__wrap {
}
.hero__title {
    color: #fff;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}
.hero__text {
    color: #fff;
    line-height: 27px;
    font-size: 18px;
    width: 440px;
    padding: 16px 0 36px 0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.hero__img {
    margin-bottom: -120px;
}
.hero__btn:hover{
    background-color:rgba(222, 46, 84, 0.8);
    color: #fff;
}


/*/ main hero */
/* main center */
.services {
    background-color: #fff;
    padding-top: 120px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__title {
    color: #000000;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 700;
    margin-bottom: 56px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.services__list {
    width: 100%;
    max-width: 864px;
    margin-bottom: 60px;
    
}
.services__item:not(:last-child){
    margin-bottom: 80px;
}
.services__item {
    width: 100%;
    max-width: 864px;
    display: flex;
    
}
.services__content-img {
    width: 200px;
    height: 200px;
    margin-right: 64px;
    
}
.services__content-wrapper {
    
    
}
.services_content-title {
    color: #222;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}
.services__content-text {
    width: 100%;
    max-width: 600px;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

   /*services bootom */
    .services__btn{
        margin-bottom: 12rem;
    }
    .services__bottom{
        width: 100%;
        padding: 64px 0;
        text-align: center;
        background-color: #0EB4C1;
    }
    .services__bottom-title{
        color: #222;
        font-size: 24px;
        line-height: 43.2px;
        margin-bottom:36px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 40px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .services__bottom-uni-btns {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2px;
        padding:12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        text-decoration:none ;
        color: #fff;
        border:2px solid #fff;
        font-family: 'Open Sans Condensed', sans-serif;
        
    }
    
    .services__bottom-uni-btns:not(:last-child) {
        margin-right: 40px;
        
    }
    /*/services bottom */






/* /main center */
/* footer section */


    /* footer bottom */
    .footer__container {
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: #000;
    }
    .footer__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color:#000000;
        
    }
    .footer__bottom-img{
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-right: 16px;


    }
    .logo-span{
        display: inline-block;
        
    }
    .logo-end{
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }
    .footer__nav-list {
        display: flex;  
        font-size: 24px;
        line-height: 32.68px;
        width: 100%;
        max-width: 1100px;
    }
    .footer__nav-item{
        list-style: none;
    }
    .footer__nav-item a{
        line-height: 21px;
        letter-spacing: 2px;
        font-size: 14px;
        color:#FFFFFF ;
        text-decoration: none;
        margin-right: 32px;
    }
    /*/ footer bottom */





/* /footer section */
